mat-card {
  width: 50%;
  margin: 2em auto;
  text-align: center;
}

.cell-form{
  width: 15%;
  margin: 25px;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.recurrence-group {
  width: 100%;
}
