mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  text-align: right;
  justify-content: flex-end;
}

.center-cell {
  justify-content: center;
}

mat-header-cell {
  justify-content: center;
}

.gray-icon {
  color: gray;
}

.red-icon {
  color: red;
}

.green-icon {
  color: green;
}
