.card-list-registries {
  width: 100%;
  margin: 10px;
}

.display-flex {
  display: flex;
}

.flex-item-1 {
  flex: 1;
}

.title-card {
  text-align: left;
}

.total-card {
  text-align: right;
}

.mat-card-header-expenditure {
  background-color: #ff5544;
}

.mat-card-header-revenue {
  background-color: #00ff40;
}
