<h1 mat-dialog-title>Adicionar {{registryType}}</h1>
<div mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <form class="min-width" [formGroup]="registryForm">
          <mat-form-field class="cell-form">
            <mat-label>Dia</mat-label>
            <input matInput [matDatepicker]="dpDate" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="dpDate"></mat-datepicker-toggle>
            <mat-datepicker #dpDate startView="month" panelClass="example-month-picker"></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="cell-form">
            <input matInput placeholder="Descrição" formControlName="description">
          </mat-form-field>

          <mat-form-field class="cell-form">
            <input matInput placeholder="Valor" formControlName="value">
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmitRegistry()">Salvar</button>
  <button mat-raised-button (click)="onCancelRegistry()">Cancelar</button>
</div>
