<mat-card *ngIf="monthly$ | async as monthly; else loading">
  <mat-card-header class="flexSpaceBetween">
    <mat-card-title>Planilha Mensal</mat-card-title>

    <div>
      <mat-label>Ano:</mat-label>
      <mat-select class="select-date" [(value)]="selectedYear" (selectionChange)="onYearSelect($event.value)">
        <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
      </mat-select>
    </div>

    <div>
      <mat-label>Mês:</mat-label>
      <mat-select class="select-date" [(value)]="selectedMonth" (selectionChange)="onMonthSelect($event.value)">
        <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
      </mat-select>
    </div>

    <div>
      <button mat-icon-button class="example-icon" (click)="queryMonthAndYear()"
              aria-label="Example icon-button with menu icon">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div>
      <span>Total: {{ monthly.balance | currency: 'R$' }}</span>
    </div>
  </mat-card-header>

  <mat-card-content>
    <app-revenue-expenditure-grid [selectedYear]="selectedYear"
                                  [selectedMonth]="selectedMonth"
                                  [revenue]="monthly.revenue"
                                  [expenditure]="monthly.expenditure"
                                  [creditCards]="monthly.creditCards">
    </app-revenue-expenditure-grid>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="">Adicionar</button>
  </mat-card-actions>
</mat-card>
<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
