<mat-card>
  <mat-card-header class="flexSpaceBetween" *ngIf="monthly$ | async as monthly; else loading">
    <mat-card-title>Planilha Mensal</mat-card-title>

    <div>
      <mat-label>Ano:</mat-label>
      <mat-select class="select-date" [(value)]="selectedYear" (selectionChange)="onYearSelect($event.value)">
        <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
      </mat-select>
    </div>

    <div>
      <mat-label>Mês:</mat-label>
      <mat-select class="select-date" [(value)]="selectedMonth" (selectionChange)="onMonthSelect($event.value)">
        <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
      </mat-select>
    </div>

    <div>
      <button mat-icon-button class="example-icon" (click)="queryMonthAndYear()"
              aria-label="Example icon-button with menu icon">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div>
      <span>Receitas: {{ monthly.totalRevenue | currency: 'R$' }}</span>
    </div>

    <div>
      <span>Despesas: {{ monthly.totalExpenditure | currency: 'R$' }}</span>
    </div>

    <div>
      <span>Total: {{ monthly.balance | currency: 'R$' }}</span>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <app-registry-list-card class="card-list-registries" *ngIf="revenues$ | async as revenues; else loading" [cardRegistries]="revenues"
                                [registryType]="'Receitas'"></app-registry-list-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-registry-list-card class="card-list-registries" *ngIf="expenditures$ | async as expenditure; else loading"
                                [cardRegistries]="expenditure" [registryType]="'Despesas'"></app-registry-list-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="">Adicionar</button>
  </mat-card-actions>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
