.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-date {
  width: 100px;
}

.flexSpaceBetween {
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-left {
  text-align: left;
}

.header-right {
  text-align: right;
}
