<mat-card>
  <mat-toolbar class="display-flex" *ngIf="monthly$ | async as monthly; else loading">
    <mat-toolbar color="accent"><span>Planilha Mensal</span></mat-toolbar>

    <mat-toolbar color="accent" class="align-center">
      <button (click)="onLastMonth()" mat-raised-button color="accent">
        <mat-icon class="white-icon" aria-hidden="false" fontIcon="chevron_left">chevron_left</mat-icon>
      </button>

      <mat-form-field appearance="standard">
        <mat-label>Month and Year</mat-label>
        <input class="date-input-height" matInput [matDatepicker]="dpCurrentDate" value="{{ monthly.date | date:'dd:MM' }}">
        <mat-datepicker-toggle matSuffix [for]="dpCurrentDate"></mat-datepicker-toggle>
        <mat-datepicker #dpCurrentDate startView="year" panelClass="example-month-picker"></mat-datepicker>
      </mat-form-field>

      <button (click)="onLaterMonth()" mat-raised-button color="accent">
        <mat-icon class="white-icon" aria-hidden="false" fontIcon="chevron_right">chevron_left</mat-icon>
      </button>
    </mat-toolbar>

    <mat-toolbar color="accent" class="align-right"><span>{{ monthly.balance | currency: 'R$' }}</span></mat-toolbar>
  </mat-toolbar>

  <div class="display-flex">
    <mat-card class="main-cards">
      <div class="display-flex">
        <mat-toolbar color="primary"><span>Receitas</span></mat-toolbar>
        <mat-toolbar color="primary" class="align-right" *ngIf="monthly$ | async as monthly; else loading"><span>{{
            monthly.totalRevenue | currency:'R$' }}</span></mat-toolbar>
      </div>
      <div class="column-flex mat-elevation-z8">
        <app-revenue-list *ngIf="monthly$ | async as monthly; else loading" [revenues]="monthly.revenues"
          (add)="onAdd('revenue')" (edit)="onEdit($event, 'revenue')"></app-revenue-list>

        <ng-template #loading>
          <div class="loading-spinner">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </div>
    </mat-card>

    <mat-card class="main-cards">
      <div class="display-flex">
        <mat-toolbar color="warn"><span>Despesas</span></mat-toolbar>
        <mat-toolbar color="warn" class="align-right" *ngIf="monthly$ | async as monthly; else loading">
          <span>{{ monthly.totalExpenditure | currency:'R$' }}</span>
        </mat-toolbar>
      </div>
      <div class="column-flex mat-elevation-z8">
        <app-expenditure-list *ngIf="monthly$ | async as monthly; else loading" [expenditures]="monthly.expenditures"
          (add)="onAdd('expenditure')" (edit)="onEdit($event, 'expenditure')"></app-expenditure-list>

        <ng-template #loading>
          <div class="loading-spinner">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </div>
    </mat-card>
  </div>
</mat-card>

<mat-card>
  <div class="display-flex">
    <mat-toolbar color="accent"><span>Cartões de Crédito</span></mat-toolbar>
    <mat-toolbar color="accent" class="align-right" *ngIf="monthly$ | async as monthly; else loading"><span>{{0 |
        currency:'R$' }}</span></mat-toolbar>
  </div>

  <div class="display-flex" *ngIf="monthly$ | async as monthly; else loading">

    <mat-card class="credit-cards" *ngFor="let creditCard of monthly.creditCards">

      <div class="display-flex">
        <mat-toolbar color="secondary">
          <span>{{ creditCard.name }}</span>
        </mat-toolbar>
        <mat-toolbar color="secondary" class="align-right">
          <span>{{ creditCard.total | currency:'R$' }}</span>
        </mat-toolbar>
      </div>
      <div class="column-flex mat-elevation-z8">
        <app-credit-card-list [creditCardExpenditures]="creditCard.creditCardExpenditures"
          (add)="onAdd('credit-card-expenditure')" (edit)="onEdit($event, 'credit-card-expenditure')">
        </app-credit-card-list>
      </div>

    </mat-card>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </div>
</mat-card>
