<mat-grid-list cols="1">
  <mat-grid-tile>
    <mat-card class="card-list-registries">
      <mat-card-header class="display-flex mat-card-header-expenditure">
        <div class="flex-item-1 title-card">
          <mat-card-title></mat-card-title>
        </div>
        <div class="flex-item-1 total-card">
          <mat-card-title></mat-card-title>
        </div>
      </mat-card-header>

      <div class="mat-elevation-z8">
        <app-registry-list [creditCards]="creditCards">
<!--                           (add)="onAdd($event)"-->
<!--                           (edit)="onEdit($event)"-->
<!--                           (delete)="onDelete($event)"-->

        </app-registry-list>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
