<mat-card>

  <mat-card-header color="primary">
    <mat-card-title>Receitas</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">

      <mat-form-field class="cell-form">
        <mat-label>Dia de Recebimento</mat-label>
        <input matInput [matDatepicker]="dpDate" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="dpDate"></mat-datepicker-toggle>
        <mat-datepicker #dpDate startView="month" panelClass="example-month-picker"></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="cell-form">
        <input matInput placeholder="Descrição" formControlName="description">
      </mat-form-field>

      <mat-form-field class="cell-form">
        <input matInput placeholder="Valor" formControlName="value">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmitRevenue()">Salvar</button>
    <button mat-raised-button (click)="onCancelRevenue()">Cancelar</button>
  </mat-card-actions>
</mat-card>
